@import "../../../styles/mixin";

.workerTable{
    @include d-flex(flex-start, flex-start, column, 2rem);
  width: 100%;
  padding: 1rem; 
  overflow: auto;
  height: 90vh;
  &_title{
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
      font-size: 2.6rem;
      color: var(--page-border-color);  
  }
  .workerTable_container{
      width: 100%;
      background-color: transparent;
      overflow: auto;
      table{
          width: 100%;
        border-collapse: collapse;
        background-color: transparent;
        table-layout: fixed;
          thead{
              position: sticky;
              background-color: var(--sidebar-background-color-first);
              top: 0;
              z-index: 3;
              tr{
                  th{
                      padding: 1rem;
                      font-size: 1.6rem;
                      text-align: start;
                  }
                  .table_series{
                      width: 4rem;
                  }
              }
          }
          tbody{
              overflow: auto;
              color: var(--color);
              tr{
                  td{
                      padding: 1rem;
                  }
                  .table_series{
                      width: 4rem;
                  }
                  .table_buttons{
                      @include d-flex(flex-start,flex-start,row,1rem);
                      &_item{
                          padding: .4rem 1rem;
                          background-color: red;
                          color: white;
                          border-radius: 1rem;
                          transition: all .7s;
                      }
                      .table_buttons_item:last-child{
                          background-color: rgb(10, 143, 10);
                      }
                      .table_buttons_item:hover{
                          transform: scale(1.1);
                      }
                  }
              }
              tr:nth-child(odd){
              background-color: rgba($color: #fff, $alpha: .9);
            }
            
            tr:nth-child(even){
              background-color: rgba($color: #fff, $alpha: .2);
            }
          }
      }
      &_message{
          width: 100%;
          text-align: center;
          margin-top: 2rem;
          font-size: 2rem;
          color: rgba($color: #000000, $alpha: .5);
      }

  }
}
