:root {
  --color: black;
  --sidebar-background-color-first: #f5f5f5;
  --sidebar-background-color-second: #f5f5f5;
  --sidebar-color-first: black;
  --sidebar-color-second: white;
  --logo-color-first: #1e2027;
  --logo-color-second: #3a4d7c;
  --page-border-color: #10193b;
  --page-font-color-first: #1e2027;
  --page-font-color-second: #3a4d7c;
}

