@import "../../styles/mixin";
.headerComponent{
    @include d-flex(center,flex-end,row,_);
    width: 100%;
    background-color: transparent;
   
    &_role{
        position: relative;
        @include d-flex(center,flex-end,row,1rem);
        &_log_out{
            &_btn{
                font-size: 3rem;
                transition: all .7s;
                background-color: transparent;
                color: red;
            }
            .headerComponent_role_log_out_btn:hover{
                transform: scale(1.1);
                color: #196e72;
            }
        }
        .headerComponent_role_item_admin{
            font-size: 3rem;
            color: red;
            margin-right: 4rem;
        }
        .headerComponent_role_item_last{
            border-radius: 50%;
            transition: all .7s;
            .headerComponent_role_item_btn{
                display: flex;
                align-items: center;
                font-size: 3rem;
                background-color: transparent;
                color: var(--color);
                .headerComponent_role_item_btn_icon{
                    transition: all .7s;
                }
                .headerComponent_role_item_btn_icon:hover{
                    transform: scale(1.1)
                }
            }
            .headerComponent_role_item_modal{
                @include d-flex(flex-start,flex-start,column,.4rem);
                position: absolute;
                border-radius: 1rem;
                z-index: 6;
                padding: 1rem;
                top: 100%;
                right: 10%;
                
                background-color: rgba($color: #196e72, $alpha: 1);
                
                &_btn{
                    @include d-flex(center,flex-start,row,_);
                    font-size: 2rem;
                    width: 100%;
                    padding: .3rem 1rem;
                    border-radius: .8rem;
                    transition: all .7s;
                }
                .headerComponent_role_item_modal_btn:hover{
                    background-color: rgb(6, 149, 99);
                    color: white;
                    transform: scale(1.1);
                }
            }

          
        }
        
       
    }
}