@import "./styles/_mixin.scss";
@import "./styles/variables";
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  position: relative;
  background: linear-gradient(135deg, var(--app-background-color-first), var(--app-background-color-first));
}
.dashboard_menu {
  background: #FAFAFA;
  margin-left: 3rem;
  border-radius: 1rem;
  height: 100%;
}
.dashboard_menu_item {
  background-color: transparent;
  margin-top: 2rem;
  .ant-menu-item-selected {
     background-color: black;
     color: white;
    
   }
}

.dashboard_menu_logo {
  background-color: transparent;
  font-size: 4rem;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--logo-color-first);
  background: linear-gradient(to right, var(--logo-color-first), var( --logo-color-second));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dashboard_layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
