@import "./styles/_mixin.scss";
.app{
    padding: 1rem;
}
.dashboard{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 5fr;
    height: 90vh;
}
.dashboard_menu{
    border-radius: 1rem;
}